@use '../abstracts/variables';
@use '../abstracts/mixins' as a;

.btn {
    &-connect {
         background: var(--color-menu-bg);
         color: var(--color-text-primary);
         font-size: 1.7rem;
         border-radius: 0.5rem;
         padding: 1rem;
         @include a.transition-bg-color;

        &:hover {
            background: var(--color-link-hover);
            color: var(--color-menu-bg)
        }
    }

    &-connect__mobile {
        display: none;
    }

    &-burger__menu {
        display: none;
    }

    &-swap {
        font-size: 1.7rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        color: var(--color-text-secondary);
    }

    &-swap__mode--active {
        background: var(--color-link-hover);
        color: var(--color-section-bg);
    }

    &-swap__currency {
        @include a.flex(flex-start, center);
        gap: 1rem;
        width: 12rem;
        height: 4rem;
        color: var(--color-text-primary);
        font-size: 1.7rem;
        background: var(--color-section-bg);
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid var(--color-border);
        overflow: hidden;
    }

    &-swap__option {
        color: var(--color-text-secondary);
        font-size: 1.7rem;
        padding: 1rem;
        flex: 1;
    }

    &-swap__option--active {
        background: var(--color-link-hover);
        color: var(--color-section-bg);
        border-radius: 0.5rem;
    }

    &__swap--submit {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        background: var(--color-link-hover);
        color: var(--color-menu-bg);
        padding: 1rem;
        border-radius: 0.5rem;
        font-size: 1.7rem;
        margin: 2rem 0 0;
    }

    &__account-panel {
        color: var(--color-text-secondary);
        padding: 1rem;
        font-size: 1.3rem;
        border: 1px solid var(--color-border);
        border-radius: 0.5rem;
        background: var(--color-menu-bg);   
        flex: 1; 
        @include a.transition-bg-color;
        
        &:hover {
            background: var(--color-link-hover);
            color: var(--color-menu-bg);
        } 
    }

    &-page, &-next, &-prev {
        color: var(--color-text-primary);
        font-size: 1.6rem;
        font-weight: 600;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.5rem;
        @include a.transition-bg-color;

        &:hover {
            color: var(--color-menu-bg);
            background: var(--color-link-hover);
        }
    }

    @include a.respond(xl) {
        &-swap__currency {
            width: 10rem;
        }
    }

    @include a.respond(md) {
        &__swap--submit {
            width: 100%;
            position: static;
        }
    }

    @include a.respond(bp85) {
        &-connect {
            font-size: 1.4rem;
        }
    }

    @include a.respond(sm) {
        &-burger__menu {
            display: block;
        }
    }

    @include a.respond(xs) {
        &-swap__currency {
            width: 8rem;
            padding: 0.5rem;
            font-size: 1.2rem;
            gap: 0.5rem;
        }

        &-connect {
            display: none;
        }

        &-connect__mobile {
            display: block;
            border: 1px solid var(--color-border);
            width: 100%;
            background: var(--color-link-hover);
            color: var(--color-section-bg);
            font-size: 1.7rem;
            border-radius: 0.5rem;
            padding: 1rem;
        }

        &-page, &-next, &-prev {
            font-size: 1.4rem;
            width: 2rem;
            height: 2rem;
        }
    }

    @include a.respond(xxs) {
        &-swap {
            font-size: 1.3rem;
            padding: 0.5rem;

            &__option {
                font-size: 1.3rem;
                white-space: nowrap;
            }
        }
    }
}