@use '../abstracts/variables';
@use '../abstracts/mixins' as a;

.chart {
    grid-area: chart;
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 2rem 0 0;
    min-height: 43rem;
    max-height: 43rem;
    background: var(--color-section-bg);
    overflow: hidden;
    border: 1px solid var(--color-border);

    @include a.respond(md) {
        margin: 0 2rem;
    }

    @include a.respond(xs) {
        max-height: 30rem;
        min-height: 30rem;
    }
}